# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
do_processing
do_processing_32tap
do_processing_coherent_pedsub
do_processing_coherent_pedsub_store
do_processing_store
do_processing_transpose
waveforms-01397060-sigonly-collection
hits-doprocessing-intrin
hits-doprocessing-naive
intrin-times
naive-times
intrin-times-1000run-fnal
output-1000run-fnal
*.S
run_one_thread
